@model PagedList.IPagedList<ShopFashion_VA_Store.Models.tbl_SanPham>
@using PagedList.Mvc;
@*@model List<ShopFashion_VA_Store.Models.tbSanPham>*@
@{
    ViewBag.Title = "QLSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<link href="~/Areas/Admin/Resources/css/AdminNhaSanXuat.css" rel="stylesheet" type="text/css" />

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <br>
            <button class="btn @*btn-default pull-right add-row*@"><i class="fa fa-plus"></i>&nbsp;&nbsp;@Html.ActionLink("ADD PRODUCT", "AddProductAdmin", "MainAdmin")</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="editableTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>

                        <th>Số lượng trong kho</th>
                        <th>Loại sản phẩm</th>
                        <th>Hình ảnh sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="1">
                            <td>@item.IDSanPham</td>
                            <td>@item.TenSanPham</td>
                            <td>@item.Gia</td>
                            <td>@item.SoLuongTrongKho</td>
                            <td>@item.IDLoaiSP</td>
                            <td><img src="~/tool/image/favorite products/@item.HinhChinh" style="width:120px;height:180px" alt="Hình sản phẩm"></td>

                            <td>
                                <a class="button button-small edit" title="Edit">
                                    <i class="fa-solid fa-pen"></i>
                                </a>

                                <a class="button button-small edit" title="Delete" href="@Url.Action("DeleteProductAdmin",new {id = item.IDSanPham})">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
           
            @*@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
            <li class="page-link">  @Html.PagedListPager(Model, page => Url.Action("QLSanPham", new { page }))  </li>
           
           
        </ul>
    </nav>
    <br />
    

  
</div>
