@*@model PagedList.IPagedList<ShopFashion_VA_Store.Models.tbl_SanPham>
    @using PagedList.Mvc;*@
@model IPagedList<ShopFashion_VA_Store.Models.tbl_SanPham>
@{
    ViewBag.Title = "ListProducts";
    //Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<style>
    .wrapper_card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .card {
        height: 400px;
        width: 240px;
        background-color: #202020;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        text-align: center !important;
    }

        .card::before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            top: -50%;
            background-color: #bababa7d;
            transform: skewY(345deg);
            transition: 0.8s ease-in;
        }


        .card:hover::before {
            top: -70%;
            transform: skewY(390deg);
        }

        .card .image {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


            .card .image img {
                max-width: 100%;
                transition: 0.6s ease-in;
            }

        .card:hover .image img {
            width: 80%;
        }

    .about-product {
        position: absolute;
        color: #fff;
        bottom: -50px !important;
        text-align: center;
        left: 18%;
        transition: 0.6s ease-in;
    }


    .card:hover .about-product {
        bottom: 20px !important;
    }


    .buy-now {
        color: #fff;
        background-color: #ef5350 !important;
        border-color: #ef5350 !important;
        width: 160px;
        margin-top: 20px;
    }


        .buy-now:focus {
            box-shadow: none;
        }

        .buy-now:hover {
            color: #fff;
            background-color: #e84040 !important;
            border-color: #e84040 !important;
        }

</style>
<section class="cartegory">
    <div class="cartegory_heading">
    </div>

    <div class="body_list-products">


        <div class="container-right">


            <div class="cartegory-right">

                <div class="cartegory-top-right">
                    <div class="cartegory_right-top-item">
                        <p>SẢN PHẨM</p>
                    </div>
                    <form class="dropdown">
                        <div class="form-group mb-3">
                            <select class="custom-select tm-select-accounts validate"
                                    name="sorting"
                                    id="sorting">
                                <option selected>Sắp xếp theo giá</option>
                                <option value="AZ">Từ thấp đến cao</option>
                                <option value="ZA">Từ cao đến thấp</option>

                            </select>
                        </div>
                    </form>

                </div>
                <div class="category-top-left">

                </div>

            </div>


            <div class="cartegory_sub-list-products">

                @foreach (var item in Model)
                {
                    @*<div class="swiper-slide card" style="width: 19rem;position:inherit">
                <a href="@Url.Action("Detail",new {id = item.IDSanPham})"><img src="~/tool/image/favorite products/@item.HinhChinh" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">@item.TenSanPham</h5>
                    <i class="fa-solid fa-heart"></i>
                    <p class="card-price">@Html.DisplayFor(row => item.Gia)</p>
                    <a href="#" class="addToCart btn btn-primary" data-id="@item.IDSanPham">MUA NGAY</a>

                </div>
            </div>*@

                <div class="swiper-slide wrapper_card" style="margin-left: -88px;width: 19rem;position: relative;">

                    <div class="card text-center">


                        <a class="image" href="@Url.Action("Detail",new {id = item.IDSanPham})">
                            <img src="~/tool/image/favorite products/@item.HinhChinh" width="300">
                        </a>

                        <div class="about-product ">

                            <h3 style="font-size:10px">@item.TenSanPham</h3>
                            <h4 style="font-size:12px">@Html.DisplayFor(row => item.Gia)</h4>

                            <button class="addToCart btn btn-success buy-now" data-id="@item.IDSanPham">MUA NGAY</button>
                        </div>
                    </div>
                </div>
                }
            </div>


            <br />
        </div>
    </div>
    <!-- ---------------------------PAGINATION------------------------ -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-link">
                @Html.PagedListPager(Model, page1 => Url.Action("ListProducts", new { page1 }))
            </li>
        </ul>
    </nav>






</section>

